doctype html
html(lang='en')
  head
    title #{title}
    meta(name="description" content=description)
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/assets/main.css")
  
  body
    
    header
          
      nav(role="navigation" aria-labelledby="firstLabel")
        h2(span id="firstLabel" class="hidden") Menu
        each item in contentMenu.children
          - item.path = item.path.replace('.md', '.html')
          - item.title = item.title.replace('.md', '')
          - item.title = item.title.replace('index', 'Home')
          div: a(href=item.path) #{item.title}
        
        
    main: block page
      
    app-footer(generator=generator url=url)
    
    script(type="text/javascript")
      include ../../node_modules/riot/riot+compiler.min.js
    
    script(type="riot/tag" data-src="assets/main.tag.js")
      
      
    script.
      riot.mount('*')
      
