doctype html
html(lang='en')
  head
    title #{title}
    meta(name="description" content=description)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="/assets/main.css")
  
  body.root.row--fluid
    aside.menu.grid-9.grid-3-tablet
      button.toggle.btn(onclick="app.toggleMenu()") Menü 🠶
      
      h2(id="menuTitle") Menü
      
      nav(role="navigation" aria-labelledby="menuTitle")
        ul
          each item in contentMenu.children
            - item.path = item.path.replace('.md', '.html')
            - item.title = item.title.replace('.md', '')
            - item.title = item.title.replace('index', 'Home')
            li: a(href=item.path) #{item.title}
          
      app-footer(generator=generator url=url)
        
        
    main.wrapper.grid
      header
        img.logo(src="/media/logo.svg")
        h1 #{title}
          
      main: block page
        
    
    script(type="text/javascript")
      include ../../node_modules/riot/riot+compiler.min.js
    
    script(type="riot/tag" data-src="assets/main.tag.js")
      
      
    script.
      riot.mount('*')
      
