extends _base.pug

block page
  
  h1 #{title}
  
  != contents
  
  each item in contentMenu[slug].children
    div.article
      h3: a(href=item.path) #{item.title}
      time #{item.date}
      if (item.description)
        p: em #{item.description}
      != item.contents
      
    
